{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Elevator</h1>
</div>
<div>
    <h1>[ Current Time] </h1>
    <h1 id="time">
        {% if time %}
            {{ time }}
        {% endif %}
    </h1>
    <h1>[ State ]</h1>
    <h1 id="state">
        {% if state == 1 %}
            MOVING
        {% elif state == 4 %}
            ARRIVED
        {% else %}
            STOPPED
        {% endif %}
    </h1>

    <h1>[ Current Floor ]</h1>
    <h1 id="current_floor">
        {% if current_floor %}
            {{ current_floor }}
        {% endif %}
    </h1>

    <form method="post" action="/elevator" enctype="text/plain">
        <input type="submit" value="CALL" name="command" style="font-size: 8em;">
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
setInterval(function() { $.ajax({
    url: '/api/elevator/update',
    type: 'POST',
    success: function(response) {
        $("#time").html(response["time"]);
        $("#current_floor").html(response["current_floor"]);
        if (response["state"] == 1) {
            $("#state").html("MOVING");
        } else if (response["state"] == 4) {
            $("#state").html("ARRIVED");
        } else {
            $("#state").html("STOPPED");
        }
    },
    error: function(error) {
        console.log(error);
    }
})}, 250);
</script>
{% endblock %}






<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>


    <script>

    </script>
</body>
