<!DOCTYPE html>
<html>
    <head>
        <title>Packet Sender</title>
    </head>
    <body>
        <a>Enerygy</a>
        <form method="post" action="/packet_sender/send/energy", enctype="text/plain">
            {% if packet %}
                <input name='packet' value={{packet}}>
            {% else %}
                <input name='packet' value="">
            {% endif %}
            <input type="submit" value="SEND" name="">
        </form>
        {% if result %}
            <a>{{result}}</a>
        {% endif %}
        <br>
        <a>Control</a>
    </body>
</html>
