<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    <webserver>
        <host>0.0.0.0</host>
        <port>1234</port>
        <log>1</log>
    </webserver>
    <rs485>
        <reconnect_limit>30</reconnect_limit>  <!-- 단위: 초 -->
        <port>
            <name>light</name>
            <index>0</index>
            <enable>1</enable>
            <hwtype>1</hwtype>  <!-- 0 = usb2serial, 1 = ew11 -->
            <packettype>0</packettype>  <!-- 0 = regular, 1 = subphone -->
            <usb2serial>
                <port>/dev/ttyUSB1</port>
                <baud>9600</baud>
                <databit>8</databit>
                <parity>N</parity>
                <stopbits>1</stopbits>
            </usb2serial>
            <ew11>
                <ipaddr>192.168.0.1</ipaddr>
                <port>8899</port>
            </ew11>
            <check>1</check>
            <buffsize>64</buffsize>
        </port>
        <port>
            <name>various</name>
            <index>1</index>
            <enable>1</enable>
            <hwtype>1</hwtype>  <!-- 0 = usb2serial, 1 = ew11 -->
            <packettype>0</packettype>  <!-- 0 = regular, 1 = subphone -->
            <usb2serial>
                <port>/dev/ttyUSB0</port>
                <baud>9600</baud>
                <databit>8</databit>
                <parity>N</parity>
                <stopbits>1</stopbits>
            </usb2serial>
            <ew11>
                <ipaddr>192.168.0.2</ipaddr>
                <port>8899</port>
            </ew11>
            <check>1</check>
            <buffsize>64</buffsize>
        </port>
        <port>
            <name>subphone</name>
            <index>2</index>
            <enable>1</enable>
            <hwtype>0</hwtype>  <!-- 0 = usb2serial, 1 = ew11 -->
            <packettype>1</packettype>  <!-- 0 = regular, 1 = subphone -->
            <usb2serial>
                <port>/dev/ttyUSB0</port>
                <baud>3840</baud>
                <databit>8</databit>
                <parity>E</parity>
                <stopbits>1</stopbits>
            </usb2serial>
            <ew11>
                <ipaddr>192.168.0.1</ipaddr>
                <port>8899</port>
            </ew11>
            <check>0</check>
            <buffsize>32</buffsize>
        </port>
    </rs485>
    <mqtt>
        <host>mosquitto ip address</host>
        <port>1883</port>
        <username>mosquitto auth id</username>
        <password>mosquitto auth password</password>
        <console_log>0</console_log>
        <verbose_regular_publish>
            <enable>1</enable>
            <interval>100</interval>
        </verbose_regular_publish>
    </mqtt>
    <device>
        <parser_mapping>
            <light>0</light>
            <outlet>0</outlet>
            <gasvalve>1</gasvalve>
            <thermostat>1</thermostat>
            <ventilator>1</ventilator>
            <airconditioner>1</airconditioner>
            <elevator>1</elevator>
            <subphone>2</subphone>
            <batchoffsw>1</batchoffsw>
            <hems>2</hems>
            <!-- <doorlock>0</doorlock> -->
        </parser_mapping>
        <entry>
            <light>
                <name>Living Room Ceil 1</name>
                <index>0</index>
                <room>1</room>
                <enable>1</enable>
                <!--
                <mqtt>
                    <publish>home/state/light/1/0</publish>
                    <subscribe>home/command/light/1/0</subscribe>
                </mqtt>
                -->
            </light>
            <light>
                <name>Living Room Ceil 2</name>
            <index>1</index>
                <room>1</room>
                <enable>1</enable>
                <!--
                    <mqtt>
                    <publish>home/state/light/1/1</publish>
                    <subscribe>home/command/light/1/1</subscribe>
                    </mqtt>
                -->
            </light>
            <light>
                <name>Hallway</name>
                <index>2</index>
                <room>1</room>
                <enable>1</enable>
                <!--
                    <mqtt>
                    <publish>home/state/light/1/2</publish>
                    <subscribe>home/command/light/1/2</subscribe>
                    </mqtt>
                -->
            </light>
            <light>
                <name>Bedroom Ceil</name>
                <index>0</index>
                <room>2</room>
                <enable>1</enable>
                <!--
                    <mqtt>
                    <publish>home/state/light/2/0</publish>
                    <subscribe>home/command/light/2/0</subscribe>
                    </mqtt>
                -->
            </light>
            <light>
                <name>Outdoor Unit Room Ceil</name>
                <index>1</index>
                <room>2</room>
                <enable>1</enable>
                <!--
                    <mqtt>
                    <publish>home/state/light/2/1</publish>
                    <subscribe>home/command/light/2/1</subscribe>
                    </mqtt>
                -->
            </light>
            <light>
                <name>Library Ceil</name>
                <index>0</index>
                <room>3</room>
                <enable>1</enable>
                <!--
                    <mqtt>
                    <publish>home/state/light/3/0</publish>
                    <subscribe>home/command/light/3/0</subscribe>
                    </mqtt>
                -->
            </light>
            <light>
                <name>PC Room Ceil</name>
                <index>0</index>
                <room>4</room>
                <enable>1</enable>
                <!--
                <mqtt>
                    <publish>home/state/light/4/0</publish>
                    <subscribe>home/command/light/4/0</subscribe>
                </mqtt>
                -->
            </light>
            <light>
                <name>Kitchen Table</name>
                <index>0</index>
                <room>6</room>
                <enable>1</enable>
                <!--
                <mqtt>
                    <publish>home/state/light/6/0</publish>
                    <subscribe>home/command/light/6/0</subscribe>
                </mqtt>
                -->
            </light>
            <light>
                <name>Kitchen Countertop</name>
                <index>1</index>
                <room>6</room>
                <enable>1</enable>
                <!--
                <mqtt>
                    <publish>home/state/light/6/1</publish>
                    <subscribe>home/command/light/6/1</subscribe>
                </mqtt>
                -->
            </light>

            <outlet>
                <name>Livingroom Outlet 1</name>
                <index>0</index>
                <room>1</room>
                <enable>1</enable>
                <enable_off_cmd>0</enable_off_cmd>
                <!--
                    <mqtt>
                    <publish>home/state/outlet/1/0</publish>
                    <subscribe>home/command/outlet/1/0</subscribe>
                    </mqtt>
                -->
            </outlet>
            <outlet>
                <name>Livingroom Outlet 2</name>
                <index>1</index>
                <room>1</room>
                <enable>1</enable>
                <enable_off_cmd>0</enable_off_cmd>
                <!--
                    <mqtt>
                    <publish>home/state/outlet/1/1</publish>
                    <subscribe>home/command/outlet/1/1</subscribe>
                    </mqtt>
                -->
            </outlet>
            <outlet>
                <name>Bedroom Outlet 1</name>
                <index>0</index>
                <room>2</room>
                <enable>1</enable>
                    <enable_off_cmd>0</enable_off_cmd>
                <!--
                    <mqtt>
                    <publish>home/state/outlet/2/0</publish>
                    <subscribe>home/command/outlet/2/0</subscribe>
                    </mqtt>
                -->
            </outlet>
            <outlet>
                <name>Bedroom Outlet 2</name>
                <index>1</index>
                <room>2</room>
                <enable>1</enable>
                    <enable_off_cmd>0</enable_off_cmd>
                <!--
                    <mqtt>
                    <publish>home/state/outlet/2/1</publish>
                    <subscribe>home/command/outlet/2/1</subscribe>
                    </mqtt>
                -->
            </outlet>
            <outlet>
                <name>Library Outlet 1</name>
                <index>0</index>
                <room>3</room>
                <enable>1</enable>
                <enable_off_cmd>0</enable_off_cmd>
                <!--
                <mqtt>
                    <publish>home/state/outlet/3/0</publish>
                    <subscribe>home/command/outlet/3/0</subscribe>
                </mqtt>
                -->
            </outlet>
            <outlet>
                <name>Library Outlet 2</name>
                <index>1</index>
                <room>3</room>
                <enable>1</enable>
                <enable_off_cmd>0</enable_off_cmd>
                <!--
                <mqtt>
                    <publish>home/state/outlet/3/1</publish>
                    <subscribe>home/command/outlet/3/1</subscribe>
                </mqtt>
                -->
            </outlet>
            <outlet>
                <name>PC Room Outlet 1</name>
                <index>0</index>
                <room>4</room>
                <enable>1</enable>
                <enable_off_cmd>0</enable_off_cmd>
                <!--
                    <mqtt>
                    <publish>home/state/outlet/4/0</publish>
                    <subscribe>home/command/outlet/4/0</subscribe>
                    </mqtt>
                -->
            </outlet>
            <outlet>
                <name>PC Room Outlet 2</name>
                <index>1</index>
                <room>4</room>
                <enable>1</enable>
                    <enable_off_cmd>0</enable_off_cmd>
                <!--
                    <mqtt>
                    <publish>home/state/outlet/4/1</publish>
                    <subscribe>home/command/outlet/4/1</subscribe>
                    </mqtt>
                -->
            </outlet>
            <outlet>
                <name>Kitchen Outlet 1</name>
                <index>0</index>
                <room>6</room>
                <enable>1</enable>
                    <enable_off_cmd>0</enable_off_cmd>
                <!--
                    <mqtt>
                    <publish>home/state/outlet/6/0</publish>
                    <subscribe>home/command/outlet/6/0</subscribe>
                    </mqtt>
                -->
            </outlet>
            <outlet>
                <name>Kitchen Outlet 2</name>
                <index>1</index>
                <room>6</room>
                <enable>1</enable>
                <enable_off_cmd>1</enable_off_cmd>
                <!--
                <mqtt>
                    <publish>home/state/outlet/6/1</publish>
                    <subscribe>home/command/outlet/6/1</subscribe>
                </mqtt>
                -->
            </outlet>

            <thermostat>
                <name>Livingroom Thermostat</name>
                <index>0</index>
                <room>1</room>
                <enable>1</enable>
                <range_min>18</range_min>
                <range_max>35</range_max>
                <!--
                <mqtt>
                    <publish>home/state/thermostat/1/0</publish>
                    <subscribe>home/command/thermostat/1/0</subscribe>
                </mqtt>
                -->
            </thermostat>
            <thermostat>
                <name>Bedroom Thermostat</name>
                <index>0</index>
                <room>2</room>
                <enable>1</enable>
                <range_min>18</range_min>
                <range_max>35</range_max>
                <!--
                <mqtt>
                    <publish>home/state/thermostat/2/0</publish>
                    <subscribe>home/command/thermostat/2/0</subscribe>
                </mqtt>
                -->
            </thermostat>
            <thermostat>
                <name>Library Thermostat</name>
                <index>0</index>
                <room>3</room>
                <enable>1</enable>
                <range_min>18</range_min>
                <range_max>35</range_max>
                <!--
                    <mqtt>
                    <publish>home/state/thermostat/3/0</publish>
                    <subscribe>home/command/thermostat/3/0</subscribe>
                    </mqtt>
                -->
            </thermostat>
            <thermostat>
                <name>PC Room Thermostat</name>
                <index>0</index>
                <room>4</room>
                <enable>1</enable>
                <range_min>18</range_min>
                <range_max>35</range_max>
                <!--
                <mqtt>
                    <publish>home/state/thermostat/4/0</publish>
                    <subscribe>home/command/thermostat/4/0</subscribe>
                </mqtt>
                -->
            </thermostat>

            <airconditioner>
                <name>Livingroom Airconditioner</name>
                <index>0</index>
                <room>1</room>
                <enable>1</enable>
                <range_min>18</range_min>
                <range_max>35</range_max>
                <!--
                <mqtt>
                    <publish>home/state/airconditioner/1/0</publish>
                    <subscribe>home/command/airconditioner/1/0</subscribe>
                </mqtt>
                -->
            </airconditioner>
            <airconditioner>
                <name>Bedroom Airconditioner</name>
                <index>0</index>
                <room>2</room>
                <enable>1</enable>
                <range_min>18</range_min>
                <range_max>35</range_max>
                <!--
                    <mqtt>
                    <publish>home/state/airconditioner/2/0</publish>
                    <subscribe>home/command/airconditioner/2/0</subscribe>
                    </mqtt>
                -->
            </airconditioner>
            <airconditioner>
                <name>Library Airconditioner</name>
                <index>0</index>
                <room>3</room>
                <enable>1</enable>
                <range_min>18</range_min>
                <range_max>35</range_max>
                <!--
                <mqtt>
                    <publish>home/state/airconditioner/3/0</publish>
                    <subscribe>home/command/airconditioner/3/0</subscribe>
                </mqtt>
                -->
            </airconditioner>
            <airconditioner>
                <name>PC Room Airconditioner</name>
                <index>0</index>
                <room>4</room>
                <enable>1</enable>
                <range_min>18</range_min>
                <range_max>35</range_max>
                <!--
                <mqtt>
                    <publish>home/state/airconditioner/4/0</publish>
                    <subscribe>home/command/airconditioner/4/0</subscribe>
                </mqtt>
                -->
            </airconditioner>
            
    <gasvalve>
                <name>Kitchen Gas Valve</name>
                <index>0</index>
                <room>0</room>
                <enable>1</enable>
                <!--
        <mqtt>
                    <publish>home/state/gasvalve/0/0</publish>
                    <subscribe>home/command/gasvalve/0/0</subscribe>
        </mqtt>
                -->
    </gasvalve>

    <ventilator>
                <name>Ventilator</name>
                <index>0</index>
                <room>0</room>
                <enable>1</enable>
                <!--
        <mqtt>
                    <publish>home/state/ventilator/0/0</publish>
                    <subscribe>home/command/ventilator/0/0</subscribe>
        </mqtt>
                -->
    </ventilator>

    <elevator>
                <name>Elevator</name>
                <index>0</index>
                <room>0</room>
                <enable>1</enable>
                <!--
        <mqtt>
                    <publish>home/state/elevator/0/0</publish>
                    <subscribe>home/command/elevator/0/0</subscribe>
        </mqtt>
                -->
    </elevator>

            <batchoffsw>
                <name>Batch Off Switch</name>
                <index>0</index>
                <room>0</room>
                <enable>1</enable>
    <!--
        <mqtt>
                    <publish>home/state/batchoffsw/0/0</publish>
                    <subscribe>home/command/batchoffsw/0/0</subscribe>
        </mqtt>
    -->
            </batchoffsw>

    <subphone>
                <name>Kitchen Subphone</name>
                <index>0</index>
                <room>0</room>
        <enable>1</enable>
        <ffmpeg>
            <conf_file_path>/etc/ffserver_hillstate_door.conf</conf_file_path>
            <feed_path>http://0.0.0.0:8090/feed.ffm</feed_path>
            <input_device>/dev/video0</input_device>
            <frame_rate>30</frame_rate>
            <width>640</width>
            <height>480</height>
        </ffmpeg>
                <!--
                <mqtt>
                    <publish>home/state/subphone/0/0</publish>
                    <subscribe>home/command/subphone/0/0</subscribe>
                </mqtt>
                -->
    </subphone>

            <hems>
                <name>HEMS</name>
                <index>0</index>
                <room>0</room>
                <enable>1</enable>
                <!--
                <mqtt>
                    <publish>home/state/hems/0/0</publish>
                    <subscribe>home/command/hems/0/0</subscribe>
                </mqtt>
                -->
            </hems>

            <doorlock>
                <name>Front Door Lock</name>
                <index>0</index>
                <room>0</room>
                <enable>0</enable>
                <gpio>23</gpio>
                <!--
                <mqtt>
                    <publish>home/state/doorlock/0/0</publish>
                    <subscribe>home/command/doorlock/0/0</subscribe>
                </mqtt>
                -->
            </doorlock>

            <airquality>
                <name>Airquality Sensor</name>
                <index>0</index>
                <room>0</room>
                <enable>1</enable>
                <apikey>Your API Key from data.go.kr</apikey>
                <obsname>관측소명</obsname>
                <!--
                <mqtt>
                    <publish>home/state/airquality/0/0</publish>
                    <subscribe>home/command/airquality/0/0</subscribe>
                </mqtt>
                -->
            </airquality>
        </entry>
    </device>
    <thinq>
        <enable>1</enable>
        <refresh_token>your LGE refresh token</refresh_token>
        <api_key>VGhpblEyLjAgU0VSVklDRQ==</api_key>
        <api_client_id>c713ea8e50f657534ff8b9d373dfebfc2ed70b88285c26b8ade49868c0b164d9</api_client_id>
        <oauth_secret_key>c053c2a6ddeb7ad97cb0eed0dcb31cf8</oauth_secret_key>
        <app_client_id>LGAO221A02</app_client_id>
        <application_key>6V1V8H2BN5P9ZQGOI5DAQ92YZBDO3EK9</application_key>
        <country_code>KR</country_code>
        <language_code>ko-KR</language_code>
        <robot_cleaner>
            <dev_id>robot cleaner dev id</dev_id>
        </robot_cleaner>
        <mqtt>
            <publish>home/state/thinq</publish>
            <log_message>0</log_message>
        </mqtt>
    </thinq>
</config>
